* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    text-align: right;
    margin: 0 auto;
}

.flex-container-row {
    display: flex;
}

.button {
    flex-basis: 25%;
    font-size: 1.5em;
    text-align: center;
    padding: 40px;
    border: 1px solid black;
    background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
    cursor: pointer;
}

.double {
    flex-basis: 50%;
}